/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    background-color: #d1d6c8;
    color: #3d2003;
    margin: 0;
    padding: 0;
}

a{
    color: #8c7965;
    text-decoration: none;
}

strong{
    font-style:oblique
}

article {
    display: flex;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
    gap: 5px;
    flex-direction: column;
}

section {
    margin-bottom: 40px;
}
h1{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: xx-large;
    font-style:oblique;
}
h2 {
    margin: 10px 0;
    font-weight: 600;
}